.container {
    margin: 0 auto;
    width: 1160px;
}

.container--small {
    margin: 0 auto;
    width: 1060px;
}

.title {
    @extend %black;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &--green {
        color: $green;
    }
    &--purple {
        color: $purple;
    }
    &--white {
        color: #fff;
    }
}

.header {
    background-image: linear-gradient(#744ab7, #3b1f69);
    height: 450px;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;
    padding-top: 80px;
    h1 {
        color: $nav;
        @extend %black;
        font-size: 45px;
        line-height: 72px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
    &-pasek {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.button {
    &-read-more {
        @extend %extra-bold;
        font-size: 20px;
        color: $nav;
        cursor: pointer;
    }  
}

.with-margin {
    margin-bottom: 30px;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

@media all and (max-width: 1366px) {
    .container {
        width: 870px;
    }
    
    .container--small {
        width: 800px;
    }  
    
    .button {
        &-read-more {
            font-size: 16px;
        }  
    }
    .title {
        font-size: 42px;
    }
    .header {
        height: 320px;
        padding-top: 50px;
        h1 {
            font-size: 34px;
            line-height: 52px;
        }
    }
    .with-margin {
        margin-bottom: 20px;
    }
}