.container {
    margin: 0 auto;
    width: 1160px;
}

.container--small {
    margin: 0 auto;
    width: 1060px;
}

.title {
    @extend %black;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    &--green {
        color: $green;
    }
    &--purple {
        color: $purple;
    }
    &--white {
        color: #fff;
    }
}

.header {
    background-image: linear-gradient(#744ab7, #3b1f69);
    height: 450px;
    display: flex;
    justify-content: center;
    // align-items: center;
    position: relative;
    padding-top: 80px;
    h1 {
        color: $nav;
        @extend %black;
        font-size: 45px;
        line-height: 72px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }
    &-pasek {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

.button {
    &-read-more {
        @extend %extra-bold;
        font-size: 20px;
        color: $nav;
        cursor: pointer;
        text-align: center;
        &--white {
            color: #fff;    
        }
    }  
}

.with-margin {
    margin-bottom: 30px;
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

.mobile-logo {
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 175px;
    z-index: 1;
    &--nav {
        z-index: 11;    
    }
}

.cookies {
    &-text {
        font-size: 12px;
        a {
            color: $green;
        }
    }
}

@media all and (max-width: 1366px) {
    .container {
        width: 870px;
    }
    
    .container--small {
        width: 800px;
    }  
    
    .button {
        &-read-more {
            font-size: 16px;
        }  
    }
    .title {
        font-size: 42px;
    }
    .header {
        height: 320px;
        padding-top: 50px;
        h1 {
            font-size: 34px;
            line-height: 52px;
        }
    }
    .with-margin {
        margin-bottom: 20px;
    }
}

@media all and (max-width: 1024px) {
    .container {
        width: 670px;
    }
    .container--small {
        width: 670px;
    }  
    .button {
        &-read-more {
            font-size: 15px;
        }  
    }
    .title {
        font-size: 36px;
    }
    .header {
        height: 320px;
        padding-top: 75px;
        h1 {
            font-size: 32px;
            line-height: 48px;
        }
    }
}

@media all and (max-width: 767px) {
    .container {
        width: 435px;
    }
    .container--small {
        width: 435px;
    }  
    .button {
        &-read-more {
            font-size: 18px;
        }  
    }
    .header {
        height: 400px;
        padding-top: 160px;
        h1 {
            width: 400px;
            font-size: 30px;
            line-height: 40px;
        }
    }
    .mobile-logo {
        display: block;
    }
}

@media all and (max-width: 500px) {
    .container {
        width: 100%;
        padding: 0 20px;
    } 
    .container--small {
        width: 100%;
        padding: 0 20px;
    }   
    .button {
        &-read-more {
            font-size: 12px;
        }  
    }
    .title {
        font-size: 24px;
    }
    .header {
        height: 250px;
        padding-top: 100px;
        h1 {
            width: 100%;
            padding: 0 20px;
            font-size: 20px;
            line-height: 24px;
        }
    }
    .mobile-logo {
        top: 20px;
        left: 20px;
        width: 120px;
    }
    .with-margin {
        margin-bottom: 10px;
    }
}