.about-poland {
    .hero {
        height: calc(100vh - 80px);
        background-image: url('https://fintech-in-poland.s3.eu-central-1.amazonaws.com/poland_map.png');
        background-position: right;
        background-size: contain;
        display: flex;
        align-items: center;
        background-repeat: no-repeat;
        &-details {
            margin-top: 90px;
            &__item {
                display: flex;
                margin-bottom: 30px;
                &__value {
                    @extend %black;
                    font-size: 40px;
                    margin-right: 30px;
                    width: 145px;
                    text-align: right;
                    sup {
                        font-size: 32px;
                    }
                }
                &__desc {
                    @extend %medium;
                    font-size: 21px;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    top: 20px;
                }
            }
        }
    } 
    .content {
        &-conatiner {}
        &-features {
            margin: 40px 0 100px 0;
            display: flex;
            justify-content: space-between;
            &__item {
                width: 260px;
                height: 260px;
                background-color: $green;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 70px;
                color: #fff;
                &__title {
                    @extend %black;
                    font-size: 26px;
                    margin-bottom: 10px;
                }
                &__desc {
                    @extend %medium;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                }
            }
        }
        h2 {
            text-align: center;
            @extend %black;
            font-size: 37px;
            margin-bottom: 70px;
        }
        &-list {
            display: flex;
            flex-direction: column;
            // align-items: center;
            padding-left: 200px;
            margin-bottom: 100px;
            &__item {
                display: flex;
                align-items: flex-start;
                margin-bottom: 50px;
                &__icon {
                    width: 170px;
                    display: flex;
                    justify-content: center;
                    .icon1 {
                        width: 70px;
                        height: 55px;
                    }
                    .icon2 {
                        width: 71px;
                        height: 55px;
                    }
                    .icon3 {
                        width: 38px;
                        height: 62px;
                    }
                    .icon4 {
                        width: 65px;
                        height: 60px;
                    }
                }
                &__title {
                    @extend %black;
                    font-size: 26px;
                    margin-bottom: 15px;
                }
                &__desc {
                    @extend %semi-bold;
                    font-size: 20px;
                    line-height: 46px;
                }
            }
        }
        &-banner {
            background-color: $nav;
            padding: 60px 0;
            color: $dark;
            margin-bottom: 100px;
            h3 {
                @extend %extra-bold;
                font-size: 30px;
                margin-bottom: 30px;
            }   
            &__wrapper {
                width: 920px;
                margin: 0 auto;
            }
            &__item {
                display: flex;
                margin-bottom: 10px;
            } 
            &__value {
                @extend %black;
                font-size: 20px;   
                width: 155px; 
            }
            &__label {
                @extend %medium;
                font-size: 20px;
            }
        }
    }
    .institutions {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;
        }
        h2 {
            @extend %black;
            font-size: 37px;
            margin-bottom: 50px;
        }
        &-desc {
            @extend %medium;
            color: $dark;
            font-size: 20px;
            margin-bottom: 50px;
            width: 750px;
            line-height: 36px;
            text-align: center;  
        }
        &-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__map {
                width: 600px;
            }
            &__box {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__revoult {
                margin-bottom: 40px;
                width: 253px;
                text-align: center;
            }
            &__desc {
                @extend %medium;
                color: $dark;
                font-size: 20px;
                line-height: 36px;
                margin-bottom: 50px;
                width: 400px;  
                text-align: center;  
            }
        }
    }
}

@media all and (max-width: 1366px) {
    .about-poland {
        .hero {
            height: calc(100vh - 60px);
            &-details {
                margin-top: 70px;
                &__item {
                    margin-bottom: 25px;
                    &__value {
                        font-size: 30px;
                        margin-right: 20px;
                        width: 110px;
                        sup {
                            font-size: 18px;
                        }
                    }
                    &__desc {
                        font-size: 16px;
                        top: 15px;
                    }
                }
            }
        } 
        .content {
            &-features {
                margin: 20px 0 80px 0;
                &__item {
                    width: 195px;
                    height: 195px;
                    padding-top: 45px;
                    color: #fff;
                    &__title {
                        font-size: 20px;
                    }
                    &__desc {
                        font-size: 16px;
                        line-height: 28px;
                    }
                }
            }
            h2 {
                font-size: 28px;
                margin-bottom: 60px;
            }
            &-list {
                padding-left: 145px;
                margin-bottom: 30px;
                &__item {
                    margin-bottom: 40px;
                    &__icon {
                        width: 120px;
                        .icon1 {
                            width: 54px;
                            height: 43px;
                        }
                        .icon2 {
                            width: 54px;
                            height: 43px;
                        }
                        .icon3 {
                            width: 28px;
                            height: 46px;
                        }
                        .icon4 {
                            width: 48px;
                            height: 45px;
                        }
                    }
                    &__title {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                    &__desc {
                        font-size: 16px;
                        line-height: 32px;
                    }
                }
            }
            &-banner {
                padding: 40px 0;
                margin-bottom: 80px;
                h3 {
                    font-size: 24px;
                    margin-bottom: 35px;
                }   
                &__wrapper {
                    width: 740px;
                }
                &__value {
                    font-size: 16px;   
                    width: 120px; 
                }
                &__label {
                    font-size: 16px;
                }
            }
        }
        .institutions {
            &-container {
                margin-bottom: 80px;
            }
            h2 {
                font-size: 28px;
                margin-bottom: 30px;
            }
            &-desc {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 50px;
                width: 620px;
            }
            &-wrapper {
                &__map {
                    width: 460px;
                }
                &__revoult {
                    margin-bottom: 30px;
                    width: 185px;
                }
                &__desc {
                    font-size: 16px;
                    line-height: 28px;
                    width: 340px;  
                }
            }
        }
    }
}

@media all and (max-width: 1024px) {
    .about-poland {
        .hero {
            height: 600px;
            &-details {
                margin-top: 50px;
                &__item {
                    margin-bottom: 30px;
                }
            }
        } 
        .content {
            &-features {
                margin: 0 0 70px 0;
                &__item {
                    width: 150px;
                    height: 150px;
                    padding-top: 35px;
                    &__title {
                        font-size: 16px;
                    }
                    &__desc {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
            h2 {
                font-size: 26px;
            }
            &-list {
                padding-left: 70px;
            }
            &-banner {
                h3 {
                    font-size: 22px;
                    margin-bottom: 25px;
                }   
                &__wrapper {
                    width: 640px;
                }
                &__value {
                    font-size: 14px;   
                    width: 105px; 
                }
                &__label {
                    font-size: 14px;
                }
            }
        }
        .institutions {
            &-container {
                margin-bottom: 80px;
            }
            h2 {
                font-size: 28px;
                margin-bottom: 30px;
            }
            &-desc {
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 50px;
                width: 620px;
            }
            &-wrapper {
                flex-direction: column;
                &__map {
                    width: 460px;
                }
                &__revoult {
                    margin: 0 50px 0 0;
                    width: 165px;
                }
                &__desc {
                    width: 450px;
                    text-align: left;  
                    margin-bottom: 0;
                }
                &__box {
                    margin-top: 50px;
                    flex-direction: row;
                    align-items: flex-start;
                }
            }
        }
    }
}
@media all and (max-width: 767px) {
    .about-poland {
        .hero {
            height: auto;
            background-position: bottom;
            &-container {
                padding: 150px 0 300px 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &-details {
                &__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 40px;
                    &__value {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                        font-size: 36px;
                    }
                    &__desc {
                        font-size: 22px;
                        text-align: center;
                    }
                }
            }
        } 
        .content {
            &-features {
                flex-direction: column;
                &__item {
                    width: 100%;
                    height: 185px;
                    padding-top: 0;
                    margin-bottom: 30px;
                    justify-content: center;
                    &__title {
                        font-size: 28px;
                    }
                    &__desc {
                        font-size: 22px;
                        line-height: 30px;
                    }
                }
            }
            h2 {
                font-size: 30px;
            }
            &-list {
                padding-left: 0;
                &__item {
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 60px;
                    &__icon {
                        margin-bottom: 30px;
                        width: auto;
                        .icon1 {
                            width: 100px;
                            height: 80px;
                        }
                        .icon2 {
                            width: 100px;
                            height: 78px;
                        }
                        .icon3 {
                            width: 50px;
                            height: 82px;
                        }
                        .icon4 {
                            width: 85px;
                            height: 80px;
                        }
                    }
                    &__title {
                        text-align: center;
                        font-size: 28px;
                        margin-bottom: 25px;
                    }
                    &__desc {
                        text-align: center;
                        font-size: 22px;
                    }
                }
            }
            &-banner {
                padding: 40px 0 0 0;
                &__wrapper {
                    width: 100%;
                }
                .button-desc {
                    margin-bottom: 30px;
                }
                h3 {
                    width: 300px;
                    font-size: 30px;
                    margin: 0 auto 35px auto;
                    text-align: center;
                }   
                &__item {
                    flex-direction: column;
                    align-items: center;
                    width: 435px;
                    margin: 0 auto 30px auto;
                }
                &__value {
                    font-size: 22px; 
                    margin-bottom: 10px;
                    width: auto;
                }
                &__label {
                    font-size: 22px;
                    line-height: 32px;
                    text-align: center;
                }
            }
        }
        .institutions {
            &-container {
                margin-bottom: 80px;
            }
            h2 {
                font-size: 30px;
                margin-bottom: 50px;
                text-align: center;
            }
            &-desc {
                font-size: 22px;
                line-height: 32px;
                width: 405px;
            }
            &-wrapper {
                &__map {
                    width: 460px;
                }
                &__revoult {
                    margin: 0 0 30px 0;
                }
                &__desc {
                    width: 380px;
                    text-align: center;  
                    font-size: 22px;
                    line-height: 32px;
                }
                &__box {
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}
@media all and (max-width: 500px) {
    .about-poland {
        .hero {
            &-container {
                padding: 100px 0 230px 0;
            }
            &-details {
                &__item {
                    margin-bottom: 30px;
                    &__value {
                        font-size: 24px;
                        margin-bottom: 10px;
                        sup {
                            font-size: 14px;
                        }
                    }
                    &__desc {
                        top: 0;
                        padding: 0 20px;
                        font-size: 15px;
                    }
                }
            }
        } 
        .content {
            &-features {
                margin-bottom: 40px;
                &__item {
                    height: 120px;
                    margin-bottom: 20px;
                    &__title {
                        font-size: 18px;
                        margin-bottom: 5px;
                    }
                    &__desc {
                        font-size: 15px;
                        line-height: 24px;
                    }
                }
            }
            h2 {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 40px;
            }
            &-list {
                &__item {
                    margin-bottom: 40px;
                    &__icon {
                        margin-bottom: 25px;
                        .icon1 {
                            width: 70px;
                            height: 56px;
                        }
                        .icon2 {
                            width: 70px;
                            height: 54px;
                        }
                        .icon3 {
                            width: 35px;
                            height: 57px;
                        }
                        .icon4 {
                            width: 65px;
                            height: 60px;
                        }
                    }
                    &__title {
                        font-size: 18px;
                        margin-bottom: 25px;
                        margin-bottom: 10px;
                    }
                    &__desc {
                        font-size: 15px;
                        line-height: 30px;
                    }
                }
            }
            &-banner {
                padding: 40px 0 0 0;
                margin-bottom: 40px;
                &__list {
                    padding-bottom: 20px;
                }
                .desc-button {
                    margin-bottom: 20px;
                }
                h3 {
                    font-size: 20px;
                    margin-bottom: 15px;
                }   
                &__item {
                    width: 100%;
                    padding: 0 20px;
                    margin-bottom: 20px;
                }
                &__value {
                    font-size: 15px; 
                    margin-bottom: 5px;
                }
                &__label {
                    font-size: 15px;
                    line-height: 21px;
                }
            }
        }
        .institutions {
            &-container {
                margin-bottom: 40px;
            }
            h2 {
                font-size: 20px;
                margin-bottom: 40px;
            }
            &-desc {
                font-size: 15px;
                line-height: 22px;
                width: 100%;
                padding: 0 20px;
                margin-bottom: 20px;
            }
            &-wrapper {
                &__map {
                    width: 300px;
                }
                &__revoult {
                    width: 110px;
                    margin: 0 0 20px 0;
                }
                &__desc {
                    width: 100%;
                    padding: 0 20px;
                    font-size: 15px;
                    line-height: 22px;
                }
                &__box {
                    margin-top: 30px;
                }
            }
        }
    }
}