.home {
    .hero {
        height: calc(100vh - 80px);
        background-image: linear-gradient(#744ab7, #3b1f69);
        &-container {
            padding: 100px 25px 0 25px;
            display: flex;
            justify-content: space-between;
        } 
        &-logo {
            width: 221px;
            margin-bottom: 40px;
        }
        h1 {
            color: $header;
            @extend %extra-bold;
            font-size: 75px;
            line-height: 90px;
            span {
                color: #fff;
            }
        }
        &-earth {
            width: 575px;
        }
    }
    
    .desc {
        padding: 100px 0;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 10;
        }
        &-text {
            @extend %medium;
            font-size: 30px;
            line-height: 45px;  
            text-align: center;
            width: 900px;
        }
        &-box {
            background-color: $purple;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 70px 0 50px 0;
            margin: 140px 0 40px 0;
            position: relative;
            &__text {
                @extend %extra-bold;
                font-size: 30px;
                line-height: 45px;
                color: #fff;
                text-align: center; 
                width: 1100px;  
            }
            a {
                @extend %extra-bold;
                font-size: 20px;
                color: $nav;
                margin-top: 30px;
            }
            &__frame {
                border: 4px solid $nav;
                position: absolute;
                height: calc(100% + 80px);
                top: -40px;
                z-index: -1;
            }
            &__button {
                margin-top: 20px;
            }
        }
        &-collapse {
            width: 1100px;
            margin-top: 50px;
            &__text {
                @extend %medium;
                font-size: 20px;
                line-height: 30px;  
                color: #fff; 
                text-align: center;
            }
        }
    }
    
    .reports {
        margin-bottom: 100px;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 100px 0 20px 0;
            &__item {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 260px;
                height: 260px;
                background-color: $green;
                padding-top: 30px;
                margin-bottom: 80px;
                transition: all ease 0.2s;
                img {
                    margin-bottom: 25px;
                    height: 60px;
                }
                p {
                    @extend %semi-bold;
                    font-size: 20px;
                    line-height: 30px;
                    color: #fff;
                    text-align: center;
                }
                &:hover {
                    cursor: pointer;
                    transition: all ease 0.2s;
                    transform: scale(1.05);
                }
            }
        }
        &-banner {
            width: 100%;
            height: 120px;
            background-image: linear-gradient(#744ab7, #3b1f69);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .partners {
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 75px 0;
            &__item {
                margin-bottom: 100px;
                h4 {
                    @extend %medium;
                    font-size: 24px; 
                    margin-bottom: 70px; 
                    text-align: center;
                }
                h5 {
                    @extend %medium;
                    font-size: 20px; 
                    margin-bottom: 40px; 
                    text-align: center;
                }
                .logo-text {
                    text-align: center;
                    color: #000;
                    @extend %lato;
                    font-size: 17px;
                    line-height: 31px;
                    margin: 0 120px;
                }
                .logo {
                    width: 350px;
                }
                .logo1 {
                    width: 200px;
                    margin: 0 115px;
                }
                .logo2 {
                    width: 210px;
                    margin: 0 115px;
                }
                .logo3 {
                    width: 185px;
                }
                .logo4 {
                    width: 200px;
                    margin: 0 200px;
                }
                .logo5 {
                    width: 200px;
                }
                .logo6 {
                    width: 115px;
                    margin-right: 100px;
                }
                .logo7 {
                    width: 240px;
                }
                .logo8 {
                    width: 110px;
                    margin: 0 25px;
                }
                .logo9 {
                    width: 200px;
                    margin: 0 25px;
                }
                .logo10 {
                    width: 200px;
                    margin: 0 100px 0 50px;
                }
            }
            &__images-wrapper {
                display: flex;
                align-items: center;
            }
            &__row {
                display: flex;
                justify-content: center;
                align-items: center;
                &.align-top {
                    align-items: flex-start;
                }
            }
        }
    }
    
    .contact {
        margin-top: 200px;
        padding: 0 0 60px 0;
        background-color: $bgLight;
        position: relative;
        z-index: 2;
        color: $dark;
        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &-title {
            @extend %black;
            font-size: 40px;
            text-transform: uppercase;
            margin-bottom: 50px;
        }   
        &-text {
            text-align: center;
            @extend %medium;
            font-size: 20px;
            line-height: 30px;
            width: 900px;
        } 
        &-email {
            @extend %extra-bold;
            font-size: 20px;
            line-height: 30px;
            color: $dark;
        }
        &-pasek {
            width: 100%;
            position: absolute;
            bottom: calc(100% - 20px);
            z-index: -1;
            left: 0;
        }
    }
}

@media all and (max-width: 1366px) {
    .home {
        .hero {
            height: calc(100vh - 60px);
            &-container {
                // padding: 100px 25px 0 25px;
            } 
            &-logo {
                width: 165px;
                margin-bottom: 30px;
            }
            h1 {
                font-size: 56px;
                line-height: 67px;
            }
            &-earth {
                width: 430px;
            }
        }
        .desc {
            padding: 80px 0 100px 0;
            &-text {
                font-size: 22px;
                line-height: 32px;  
                width: 720px;
            }
            &-box {
                width: 100%;
                padding: 50px 0 30px 0;
                margin: 100px 0 0 0;
                &__text {
                    font-size: 22px;
                    line-height: 33px;
                    width: 800px;  
                }
                &__frame {
                    height: calc(100% + 60px);
                    top: -30px;
                }
                &__button {
                    margin-top: 20px;
                }
            }
            &-collapse {
                width: 800px;
                margin-top: 30px;
                &__text {
                    font-size: 16px;
                    line-height: 26px;  
                }
            }
        }
        .reports {
            margin-bottom: 50px;
            &-list {
                margin: 70px 0 20px 0;
                &__item {
                    width: 195px;
                    height: 195px;
                    padding-top: 25px;
                    margin-bottom: 50px;
                    img {
                        margin-bottom: 25px;
                        height: 45px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
            &-banner {
                height: 90px;
            }
        }
        .partners {
            &-list {
                &__item {
                    margin-bottom: 60px;
                    h4 {
                        font-size: 18px; 
                        margin-bottom: 50px; 
                    }
                    h5 {
                        font-size: 15px; 
                        margin-bottom: 30px; 
                    }
                    .logo-text {
                        font-size: 13px;
                        line-height: 23px;
                        margin: 0 80px;
                    }
                    // scale(0.75)
                    .logo {
                        width: 270px;
                    }
                    .logo1 {
                        width: 150px;
                        margin: 0 80px;
                    }
                    .logo2 {
                        width: 160px;
                        margin: 0 80px;
                    }
                    .logo3 {
                        width: 140px;
                    }
                    .logo4 {
                        width: 130px;
                        margin: 0 200px;
                    }
                    .logo5 {
                        width: 140px;
                    }
                    .logo6 {
                        width: 85px;
                    }
                    .logo7 {
                        width: 180px;
                    }
                    .logo8 {
                        width: 80px;
                        margin: 0 20px;
                    }
                    .logo9 {
                        width: 150px;
                        margin: 0 20px;
                    }
                    .logo10 {
                        width: 150px;
                    }
                }
            }
        }
        .contact {
            margin-top: 50px;
            padding: 0 0 35px 0;
            &-title {
                font-size: 30px;
                margin-bottom: 35px;
            }   
            &-text {
                font-size: 15px;
                line-height: 24px;
                width: 680px;
            } 
            &-email {
                font-size: 15px;
                line-height: 24px;
            }
        }
    }   
}

@media all and (max-width: 1024px) {
    .home {
        .hero {
            height: auto;
            &-container {
                padding: 75px 0;
            }
            &-logo {
                width: 145px;
                margin-bottom: 50px;
            }
            h1 {
                font-size: 47px;
                line-height: 57px;
            }
            &-earth {
                width: 330px;
            }
        }
        .desc {
            &-text {
                font-size: 18px;
                line-height: 29px;  
                width: 670px;
            }
            &-box {
                &__text {
                    font-size: 20px;
                    line-height: 30px;
                    width: 670px;  
                }
            }
            &-collapse {
                width: 670px;
            }
        }
        .reports {
            margin-bottom: 50px;
            &-list {
                margin: 60px 0 55px 0;
                &__item {
                    width: 150px;
                    height: 150px;
                    padding-top: 20px;
                    margin-bottom: 25px;
                    img {
                        margin-bottom: 20px;
                        height: 35px;
                    }
                    p {
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }
            &-banner {
                height: 80px;
            }
        }
        .partners {
            &-list {
                &__item {
                    margin-bottom: 60px;
                    h4 {
                        font-size: 16px; 
                        margin-bottom: 40px; 
                    }
                    h5 {
                        font-size: 16px; 
                    }
                    .logo4 {
                        margin: 0 100px;
                    }
                    .logo6 {
                        margin-right: 30px;
                    }
                    .logo10 {
                        margin-right: 70px;
                    }
                }
            }
        }
        .contact {
            margin-top: 0;
            padding: 20px 0 40px 0;
            &-title {
                font-size: 28px;
                margin-bottom: 40px;
            }   
            &-text {
                width: 670px;
            } 
        }
    }   
}

@media all and (max-width: 767px) {
    .home {
        .hero {
            height: auto;
            &-container {
                flex-direction: column;
                align-items: center;
                padding: 180px 0 100px 0;
            }
            &-logo {
                width: 200px;
                position: absolute;
                top: 30px;
                left: 30px;
                margin-bottom: 0;
            }
            h1 {
                font-size: 55px;
                line-height: 68px;
                text-align: center;
                margin-bottom: 50px;
            }
            &-earth {
                width: 380px;
            }
        }
        .desc {
            &-text {
                font-size: 22px;
                line-height: 35px;  
                width: 435px;
            }
            &-box {
                &__text {
                    font-size: 22px;
                    line-height: 35px;
                    width: 435px; 
                }
                &__frame {
                    height: calc(100% + 40px);
                    top: -20px;
                    width: 470px;
                }
            }
            &-collapse {
                width: 435px;
            }
        }
        .reports {
            margin-bottom: 50px;
            &-list {
                margin: 40px 0 50px 0;
                &__item {
                    width: 100%;
                    height: 125px;
                    padding: 0 30px 0 0;
                    margin-bottom: 30px;
                    flex-direction: row;
                    img {
                        margin-bottom: 0;
                        height: 45px;
                    }
                    p {
                        font-size: 22px;
                        line-height: 28px;
                        text-align: left;
                        flex: 1;
                        br {
                            display: none;
                        }
                    }
                    &:hover {
                        transform: scale(1);
                    }
                    &__icon {
                        width: 110px;
                        display: flex;
                        justify-content: center;
                    }
                }
            }
            &-banner {
                height: 125px;
                .title {
                    font-size: 26px;
                }
            }
        }
        .partners {
            &-list {
                margin-bottom: 0;
                &__item {
                    margin-bottom: 60px;
                    h4 {
                        font-size: 22px; 
                        margin-bottom: 40px; 
                    }
                    h5 {
                        font-size: 22px; 
                    }
                    img {
                        margin: 0 0 30px 0 !important;
                    }
                }
                &__row {
                    flex-direction: column;
                    &.align-top {
                        align-items: center;
                    }
                }
            }
        }
        .contact {
            padding: 50px 0;
            &-title {
                font-size: 36px;
                margin-bottom: 40px;
            }   
            &-text {
                font-size: 22px;
                line-height: 35px;
                width: 435px;
            } 
            &-email {
                font-size: 22px;
                line-height: 35px;
                margin-top: 30px;
            } 
        }
    }   
}
