.hub {
    .desc {
        margin: 20px auto 80px auto;
        &-text {
            @extend %subpage-desc;
        }
    }
    .features {
        margin-bottom: 80px;
        &-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
        }
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__icon {
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 30px;
                .icon1 {
                    width: 44px;
                }
                .icon2 {
                    width: 52px;
                }
                .icon3 {
                    width: 75px;
                }
                .icon4 {
                    width: 59px;
                }
            }
            &__text {
                color: $borderGreen;
                @extend %semi-bold;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}

@media all and (max-width: 1366px) {
    .hub {
        .desc {
            margin: 20px auto 60px auto;
        }
        .features {
            margin-bottom: 60px;
            &-wrapper {
                margin-top: 60px;
                flex-direction: column;
            }
            &-item {
                flex-direction: row;
                &__icon {
                    height: 50px;
                    margin-bottom: 20px;
                    .icon1 {
                        width: 37px;
                    }
                    .icon2 {
                        width: 48px;
                    }
                    .icon3 {
                        width: 68px;
                    }
                    .icon4 {
                        width: 52px;
                    }
                }
                &__text {
                    flex: 1;
                    font-size: 16px;
                    line-height: 26px;
                }
            }
        }
    }   
}
@media all and (max-width: 1024px) {
    .hub {
        .features {
            &-item {
                margin-bottom: 30px;
                &__icon {
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    height: auto;
                    margin-bottom: 0;
                    .icon1 {
                        width: 34px;
                    }
                    .icon2 {
                        width: 37px;
                    }
                    .icon3 {
                        width: 55px;
                    }
                    .icon4 {
                        width: 43px;
                    }
                }
                &__text {
                    text-align: left;
                }
            }
        }
    }   
}