.institutions {
    color: $dark;
    .accordion {
        &-item {
            border-bottom: 1px solid $borderGreen;
            &__trigger {
                padding: 0 50px 0 20px;
                height: 100px;
                display: flex;
                align-items: center;
                cursor: pointer;    
            }
            &__button {
                flex: 0 0 42px;
                width: 42px;
                height: 42px;
                border: 2px solid $dark;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                &--open {
                    border: none;
                    background-color: $borderGreen;
                }
                img {
                    width: 18px;
                }
            }
            &__label {
                @extend %bold;
                font-size: 20px;
                margin-left: 20px
            }
            &__content {
                padding: 0 30px 30px 82px;
            }
        }
        &-wrapper {
            border-top: 1px solid $borderGreen;    
            margin: 80px 0;
        }
        &-content {
            &__wrapper {
                @extend %subpage-desc;
                margin-bottom: 30px;
            }
            &__title {
                @extend %semi-bold;
            }  
        }
    }
    .desc {
        @extend %subpage-desc; 
        &-text {
           margin-bottom: 30px;
        }
        &-list {
            margin-bottom: 30px;
            list-style: none;
        }
        &--top {
            margin-top: 20px;
        }
        &--bottom {
            margin-bottom: 80px;
        }
        &-button {
            text-align: center;
            margin: 30px 0;
        }
    }
}

@media all and (max-width: 1366px) {
    .institutions {
        .accordion {
            &-item {
                &__trigger {
                    padding: 0 30px 0 10px;
                    height: 90px;
                }
                &__button {
                    flex: 0 0 35px;
                    width: 35px;
                    height: 35px;
                    img {
                        width: 13px;
                    }
                }
                &__label {
                    font-size: 18px;
                }
                &__content {
                    padding: 0 30px 30px 65px;
                }
                &__wrapper {
                    margin: 50px 0;
                }
            }
            &-content {
                &__wrapper {
                    margin-bottom: 20px;
                }
            }
        }
        .desc {
            &-text {
               margin-bottom: 20px;
            }
            &-list {
                margin-bottom: 20px;
            }
        }
    }    
}

@media all and (max-width: 1024px) {
    .institutions {
        .accordion {
            &-item {
                &__trigger {
                    padding: 0 10px;
                }
            }
            &-wrapper {
                margin: 0 0 60px 0;
            }
        }
    }    
}