.map {
   &-wrapper {
    
   }
   &-image {
       width: 100%;
   }
}

@media all and (max-width: 767px) {
    .map {
        &-wrapper {
            overflow: scroll;
        }
        &-image {
            width: 1000px;
        }
     }
}