.market {
    .desc {
        margin: 20px auto 80px auto;
        &-text {
            @extend %subpage-desc;
        }
        &-logos {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 80px;
            &__logo {
                &--1 {
                    width: 156px;
                }
                &--2 {
                    width: 206px;
                }
                &--3 {
                    width: 163px;    
                }
                &--4 {
                    width: 180px;
                }
            }
        }
    }
}

@media all and (max-width: 1366px) {
    .market {
        .desc {
            margin: 20px auto 60px auto;
            &-logos {
                margin-top: 60px;
                &__logo {
                    &--1 {
                        width: 120px;
                    }
                    &--2 {
                        width: 150px;
                    }
                    &--3 {
                        width: 120px;    
                    }
                    &--4 {
                        width: 135px;
                    }
                }
            }
        }
    }   
}

@media all and (max-width: 1024px) {
    .market {
        .desc {
            &-logos {
                &__logo {
                    &--1 {
                        width: 100px;
                    }
                    &--2 {
                        width: 120px;
                    }
                    &--3 {
                        width: 100px;    
                    }
                    &--4 {
                        width: 110px;
                    }
                }
            }
        }
    }   
}

@media all and (max-width: 767px) {
    .market {
        .desc {
            margin-bottom: 0;
            &-logos {
                flex-direction: column;
                align-items: center;
                &__logo {
                    margin-bottom: 60px;
                    &--1 {
                        width: 150px;
                    }
                    &--2 {
                        width: 180px;
                    }
                    &--3 {
                        width: 150px;    
                    }
                    &--4 {
                        width: 180px;
                    }
                }
            }
        }
    }   
}

@media all and (max-width: 500px) {
    .market {
        .desc {
            &-logos {
                &__logo {
                    margin-bottom: 40px;
                    &--1 {
                        width: 100px;
                    }
                    &--2 {
                        width: 120px;
                    }
                    &--3 {
                        width: 100px;    
                    }
                    &--4 {
                        width: 120px;
                    }
                }
            }
        }
    }   
}

