.opinion {
    color: #fff;
    padding: 60px 0;
    background: $purple;
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        @extend %extra-bold;
        font-size: 30px;  
        margin-bottom: 30px;
    }
    p {
        color: #fff;
        @extend %subpage-desc;
        text-align: center;
    }
    &-author {
        margin-top: 45px;
        width: 600px;
    }
    &-button {
        margin-top: 30px;
    }
    &-content {
        margin-top: 30px;
    }
}

@media all and (max-width: 1366px) {
    .opinion {
        padding: 40px 0;
        h2 {
            font-size: 24px;  
        }
        &-author {
            margin-top: 20px;
            width: 500px;
        }
    }
}

@media all and (max-width: 1024px) {
    .opinion {
        h2 {
            font-size: 22px;  
        }
        p {
            font-size: 14px;    
            line-height: 21px; 
        }
        &-author {
            width: 450px;
        }
    }   
}

@media all and (max-width: 767px) {
    .opinion {
        h2 {
            font-size: 28px;
            margin-bottom: 35px;  
        }
        p {
            font-size: 22px;    
            line-height: 32px; 
            margin-top: 30px;
        }
        &-author {
            width: 435px;
        }
    }   
}

@media all and (max-width: 500px) {
    .opinion {
        h2 {
            font-size: 18px;
            margin-bottom: 25px;  
        }
        p {
            font-size: 15px;    
            line-height: 21px; 
            margin-top: 30px;
        }
        &-author {
            width: 100%;
            padding: 0 20px;
        }
    }   
}