.policy {
    .content {
        padding: 40px 0 80px 0;
        &-text {
            @extend %subpage-desc;
            font-weight: 300;
        }
        &-title {
            @extend %subpage-desc;
            font-weight: 800;
            margin-bottom: 5px;
        }
        .bold {
            font-weight: 800;    
        }
        .center {
            text-align: center;
        }
        a {
            color: $purple;
            text-decoration: underline !important;
        }
    }
}

@media all and (max-width: 500px) {
    .policy {
        .content {
            padding: 40px 20px 40px 20px;
        }
    }    
}