.nav {
    height: 80px;
    background-color: $dark;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
            margin: 0 60px;
            a {
                @extend %semi-bold;
                font-size: 20px;
                color: $nav;
                &.active {
                    @extend %black;    
                }
            }
        }
    }
}