.nav {
    &-list {
        list-style: none;
        height: 80px;
        background-color: $dark;
        display: flex;
        align-items: center;
        justify-content: center;
        &__item {
            height: 100%;
            padding-top: 28px;
            margin: 0 60px;
            a {
                @extend %semi-bold;
                font-size: 20px;
                color: $nav;
                &.active {
                    @extend %black;    
                }
                &:hover {
                    color: $bgLight;
                }
            }
            .menu {
                &-list {
                    padding: 0 20px;
                    position: absolute;
                    top: 80px;
                    background-color: $dark;
                    max-height: 0;
                    list-style: none;
                    transition: all ease 0.4s;
                    overflow: hidden;
                    z-index: 99;
                    li {
                        padding: 5px 0;
                        a {
                            font-size: 18px;    
                        }
                    }
                }
            }
        }
        .menu {
            &:hover {
                .menu-list {
                    padding: 10px 20px;
                    transition: all ease 0.4s;
                    max-height: 300px;     
                }
            }
        }
    }
}

@media all and (max-width: 1366px) {
    .nav {
        &-list {
            height: 60px;
            &__item {
                padding-top: 20px;
                margin: 0 50px;
                a {
                    font-size: 15px;
                }
                .menu {
                    &-list {
                        padding: 0 20px;
                        top: 60px;
                        z-index: 99;
                        li {
                            padding: 5px 0;
                            a {
                                font-size: 13px;    
                            }
                        }
                    }
                }
            }
        }
    }
}